## Derby DB used for testing:

derby.log
derbyDB/

## https://github.com/github/gitignore/blob/master/Java.gitignore

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

doc/

## https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore

*.pydevproject
.metadata
.gradle
bin/
tmp/
build/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# TeXlipse plugin
.texlipse

## Meld makes these files when doing git difftool or git mergetool

*.orig